---
layout: base
title: Home
heading: Collection of Snowy Photos
pagination:
    data: photos.uq9nuzt.media
    size: 24
    alias: photos
---
<main>

        <header><h2>Page {{pagination.pageNumber | plus: 1}}</h2></header>
        {% for photo in pagination.items -%}
        <a href = "/CPSC349-Project-1/{{photo.id}}">
            <img src='{{photo.src.tiny}}' alt="{{photo.alt}}" width="266"></a>
        {% endfor %}
  

    <nav>
        {% if pagination.href.previous %}
        <a href="/CPSC349-Project-1{{pagination.href.previous}}"><b>Previous Page</b></a>
        {% else %}
        <br/>
        {% endif %}
    
        {% if pagination.href.next %}
        <a href="/CPSC349-Project-1{{pagination.href.next}}"><b>Next Page</b></a>
        {% endif %}
    </nav>

</main>
