---
layout: base
title: Home
pagination:
    data: photos.uq9nuzt.media
    size: 28
    alias: photos
---
<header>
    <h1>{{ title }} </h1>
</header>

<nav>
    <ul style="position: relative; text-align: center;">
        {% for photo in pagination.items -%}
        <li><a href = "/{{photo.id}}"><img src = {{photo.src.tiny}} alt = {{photo.alt}}> </a> </li>
        {% endfor %}
    </ul>

    {% if pagination.href.previous %}
        <a href="{{pagination.href.previous}}"> Previous Page </a>
    {% endif %}

    {% if pagination.href.next %}
        <a href="{{pagination.href.next}}"> Next Page </a>
    {% endif %}

</nav>

<footer>
    <hr>
    <p>
        <small>
            <a href="https://www.pexels.com">Photos provided by Pexels</a>
        </small>
    </p>
</footer>
