---
layout: base
title: Home
heading: Collection of Snowy Photos
pagination:
    data: photos.uq9nuzt.media
    size: 24
    alias: photos
---
<main>
    <section>
        <header><h2>Page {{pagination.pageNumber | plus: 1}}</h2></header>
        {% for photo in pagination.items -%}
        <a href = "/{{photo.id}}">
            <img src='{{photo.src.tiny}}' alt="{{photo.alt}}" width="266"></a>
        {% endfor %}
    </section>

    <nav>
        {% if pagination.href.previous %}
        <a href="{{pagination.href.previous}}"><i>Previous Page</i></a>
        {% else %}
        <br/>
        {% endif %}
    
        {% if pagination.href.next %}
        <a href="{{pagination.href.next}}"><i>Next Page</i></a>
        {% endif %}
    </nav>

</main>
