---
layout: base
title: Photos
pagination:
    data: photos.uq9nuzt.media
    size: 1
    alias: photo
permalink: '/{{photo.id}}/'
eleventyComputed:
    heading: "{{photo.alt}}"
    avg_color: "{{photo.avg_color}}"
---
<section>
    <main>
        <img src = "{{photo.src.landscape}}" alt ="{{photo.alt}}">
        <summary>Image description</summary>
        <br/>

        <nav>
            {% if pagination.href.previous %}
            <a href="{{pagination.href.previous}}"><Button>Previous Page</Button></a>
            {% endif %}
            {% if pagination.href.next %}
            <a href="{{pagination.href.next}}"><Button>Next Page</Button></a>
            {% endif %}
        </nav>

    </main>
</section>
