---
layout: base
title: Photos
pagination:
    data: photos.uq9nuzt.media
    size: 1
    alias: photo
permalink: '/{{photo.id}}/'
eleventyComputed:
    heading: "{{photo.alt}}"
    avg_color: "{{photo.avg_color}}"
---

    <main>
        <img src = "{{photo.src.landscape}}" alt ="{{photo.alt}}">
        <p>Image description</p>
        <br/>

        <nav>
            {% if pagination.href.previous %}
            <a href="{{pagination.href.previous}}"><b>Previous Page</b></a>
            {% endif %}
            {% if pagination.href.next %}
            <a href="{{pagination.href.next}}"><b>Next Page
                
            </b></a>
            {% endif %}
        </nav>
        <p>
            Photographer: <a href="{{photo.photographer_url}}"> {{photo.photographer}}</a>
        </p>
    </main>

