---
layout: base
title: Photos
pagination:
    data: photos.uq9nuzt.media
    size: 1
    alias: photo
permalink: '/{{photo.id}}/'
eleventyComputed:
    heading: "{{photo.alt}}"
    avg_color: "{{photo.avg_color}}"
---
<main>
    <figure>
        <header>
            <h2>
                Photographer: <a href="{{photo.photographer_url}}">{{photo.photographer}}</a>
            </h2>
        </header>
        <img src="{{photo.src.landscape}}" alt="{{photo.alt}}">
        <p>{{photo.alt}} taken by {{photo.photographer}}</p>
        <br/>
    </figure>

    <nav>
        {% if pagination.href.previous %}
        <a href="{{pagination.href.previous}}">
            <b>Previous Page</b></a>
        {% else %}
        <br/>
        {% endif %}
        {% if pagination.href.next %}
        <a href="{{pagination.href.next}}">
            <b>Next Page</b></a>
        {% endif %}
    </nav>
</main>
