---
site: CPSC 349 - Fall 2022 - Project 1
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} - {{ site }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About Us!</a>
        </nav>
        <hr>
    </header>
    

    {{ content }}
    
    <footer>
        <hr>
        <small>
             <a href="https://www.pexels.com">Photos provided by Pexels</a>
        </small>
    </footer>
</body>


</html>